export(format_pca.to.data)
export(ggpca.biplot)
export(ggpca.biplot.prcomp)
export(ggpca.check.prcomp)
export(ggscatter)
export(ggscatter.xy)
export(remove.identical.rows)
export(remove.na.rows)
export(remove.zero.var.cols)
export(see.na)
import(gdata)
import(lazyr)
